div{
    font-family: 'Libre Baskerville', serif;
    margin-left: 25%;
    width: 50%;
    color: white;
    text-align: center;
}

body{
    background-color: black;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}
p{
    color: white;
}

img{
    width: 100%;
    border: 5px solid white;
    margin-top: 100px;
}